*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color:#AAFF00;
  color:#82AAAD
}


@media (max-width: 768px) {
  /* Styles for small to medium-sized devices go here */
  .card{
     position: relative;
     left: 6rem;
     box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);
  }
  
}


